body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 40px 0px;
  }
  
  h1,
  h2,
  h3
    {
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
  }
  
  h4,
  h5,
  h6
    {
      font-weight: 300;
      font-family: 'Open Sans', sans-serif;
      font-size: 30px;
  }
  .btn-xl {
    padding: 1rem 1.75rem;
    font-size: 1.25rem;
  }
  
  .bg-primary {
    background-color: #1A1E2F !important;
  }
  
  .text-primary {
    color: #FFF !important;
  }

  .text-secondary {
    color: #6c757d !important;
  }
  
  .btn-primary {
    background-color: #1A1E2F;
    border-color: rgba(255, 255, 255, 0.623);
    color: rgba(255, 255, 255, 0.623);
    padding: 12px 20px;
  }
  
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #1A1E2F;
    border-color: #fff;
    color: #fff;
    padding: 12px 20px;
  }
  
  .btn-secondary {
    background-color: #1A1E2F;
    border-color: #1A1E2F;
    color: rgba(255, 255, 255, 0.85);
    padding: 12px 20px;
  }
  
  .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    background-color: #0f111c;
    border-color: #0f111c;
    color: rgba(255, 255, 255, 0.9);
    padding: 12px 20px;
  }
  
  .pull-left {
    float: left !important;
  }
  
  .pull-right {
    float: right !important;
  }
  
  .footer {
    position: fixed;
    left: 12%;
    bottom: 5%;
    width: 100%;
    text-align: left;
  }

.jumbotron {
    min-height: 600px;
    min-width: 600px;
    font-size: 14px;
    padding: 50px !important;
}

.sizer {
    width: 300px;
}

a {
  color: rgba(255, 255, 255, 0.623);
}

a:focus, a:hover, a:active {
  color: #fff;
  text-decoration: none;
}

.result {
  color: #1A1E2F;
}

.result:focus, .result:hover, .result:active {
  color: #6c757d;
  text-decoration: none;
}

.center {
  position: relative;
  left: 10px;
}
